<!DOCTYPE html>

<!-- begin doc -->
<html lang="en">

    <!-- begin header -->
    <head>

        <!-- begin meta -->
        <title>{% block title %}{% if site_name %}{{ site_name }}{% else %}All Tables{% endif %}{% endblock %}</title>
        <link rel="shortcut icon" href="http://media.scpr.org/favicon.ico">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" id="meta-viewport" content="width=device-width,minimum-scale=1,maximum-scale=1">
        <meta name="keywords" content="{% block keywords %}tablstacker{% endblock %}" >
        <meta name="description" content="{% block description %}{% endblock %}" >

        {% block facebook %}
        {% endblock %}

        <!-- additional meta if needed -->
        <!--
        <meta name="robots" content="" />
        <meta name="author" content="#, &#169; 2013">
        <meta name="google-site-verification" content="#" />
        <meta content="yes" name="apple-mobile-web-app-capable" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        -->
        <!-- end meta -->

        <!-- begin css -->
        <link href="http://projects.scpr.org/static/static-files/css/reset/reset-styles.css" rel="stylesheet" type="text/css" media="all" />
        <link href="http://projects.scpr.org/static/static-files/bootstrap-v222/bootstrap.min.css" rel="stylesheet" type="text/css" media="all" />
        <link href="http://projects.scpr.org/static/static-files/css/interactive-project-shell/foundation-styles.css" rel="stylesheet" type="text/css" media="all" />
        <link href="http://projects.scpr.org/static/static-files/css/tablestacker-tables/styles.css" rel="stylesheet" type="text/css" media="all" />
        <link href="http://projects.scpr.org/static/static-files/css/jquery-alerts/jquery.alerts.css" rel="stylesheet" type="text/css" media="all" />
        <link href="http://projects.scpr.org/static/static-files/bootstrap-v222/bootstrap-responsive.min.css" rel="stylesheet" type="text/css" media="all" />
        {% block extra-css %}
        {% endblock %}
        <!-- end css -->

        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
            <!--[if lt IE 9]>
            <script type="text/javascript" src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <!-- begin base scripts -->
        <script src="http://use.typekit.com/mhc7oxs.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
        <script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.1/jquery-ui.min.js"></script>
        <script src="http://projects.scpr.org/static/static-files/scripts/modernizr-2.5.3.min.js"></script>
        {% block extra-js %}
        {% endblock %}
        <!-- end base scripts -->

    </head>
    <!-- end header -->

    <!-- begin body -->
    <body class="minimal">
        <div id="kpcc-header">
            {% block kpcc-header %}{% endblock %}
        </div>
        <div id="data-container" class="container-fluid">
            <div class="row-fluid">
                <div class="span12">
                    <div id="data-details">
                        {% block headline %}{% endblock %}
                    </div>
                    <div id="data-visuals">
                        {% block content %}{% endblock %}
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <div id="data-footer">
                        {% block footer %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
        <div id="kpcc-footer">
            {% block kpcc-footer %}{% endblock %}
        </div>

            <!-- begin scripts -->
            <script src="http://projects.scpr.org/static/static-files/scripts/responsive-tables.js"></script>
            <script src="http://projects.scpr.org/static/static-files/scripts/jquery.alerts.js"></script>
            <script src="http://projects.scpr.org/static/static-files/bootstrap-v222/bootstrap.min.js"></script>
            <!-- end scripts -->

        <!-- begin analytics -->
        <script type="text/javascript">
            (function() {
                var ga = document.createElement('script');
                ga.type = 'text/javascript';
                ga.async = true;
                ga.src = '//stream.publicbroadcasting.net/analytics/abf7.js';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(ga, s);
            })();
        </script>
        <!-- end analytics -->

    </body>
    <!-- end body -->

</html>
<!-- end document -->