{% extends "base.html" %}

{% block title %}{{ object.title|safe }}{% endblock %}

{% if object.description %}
    {% block description %}{{ object.description|striptags|safe }}{% endblock %}
{% endif %}

{% if object.keywords %}
    {% block keywords %}{{ object.keywords|striptags|safe }}{% endblock %}
{% endif %}

{% block facebook %}
    {{ block.super }}
    <meta property="og:title" content="{{ object.title|safe }}" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="http://www.scpr.org/assets/kpcc-twitter-logo-f43790c570b1b6c6890ce868e0c654b8.png" />
    <meta property="og:image:width" content="500" />
    <meta property="og:image:height" content="500" />
    <meta property="og:url" content="{{ object.get_absolute_url }}" />
    {% if object.description %}
        <meta property="og:description" content="{{ object.description|striptags|safe }}"/>
    {% endif %}
{% endblock %}

{% block twitter %}
    {{ block.super }}
    <meta name="twitter:title" content="{{ object.title|safe }}">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:domain" content="http://projects.scpr.org/">
    <meta name="twitter:site" content="KPCC">
    <meta name="twitter:image:src" content="http://www.scpr.org/assets/kpcc-twitter-logo-f43790c570b1b6c6890ce868e0c654b8.png">
    <meta name="twitter:url" content="{{ object.get_absolute_url }}">
    {% if object.description %}
        <meta property="twitter:description" content="{{ object.description|striptags|safe }}"/>
    {% endif %}
{% endblock %}

{% block extra-css %}{% endblock %}

{% block data-details %}
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div id="content-article">
            <div class="headlines">
                <h4 class="kicker">{% if object.kicker %}{{ object.kicker|safe }}{% else %}Spreadsheet{% endif %}</h4>
                <h1>{{ object.title|safe }}</h1>
            </div>
            <div class="text collapse">
                <p><span class="credits">Produced by {{ object.credits|safe }}</span> | <span class="pubdate">Updated {{ object.publication_date|date:"N j, Y" }}</span></p>
                <p>{{ object.description|safe }}</p>
                {% if object.content_explainer %}
                    <p class="small-writing">{{ object.content_explainer|safe }}</p>
                {% endif %}
            </div>
            <div class="about collapse">
                <p><strong>Source(s): </strong>{{ object.sources|safe }}. <strong>Built using</strong> <a href="https://github.com/datadesk/latimes-table-stacker" target="_blank">Table Stacker</a>, a <a href="https://www.djangoproject.com/" target="_blank">Django</a> application that publishes spreadsheets, <a href="http://handlebarsjs.com/">handlebars.js</a> &amp; <a href="http://twitter.github.com/bootstrap/">Bootstrap</a>.</p>
            </div>
            <div class="buttons btn-group btn-group-justified">
                <a class="btn btn-primary" href="javascript:void(0)" data-toggle="collapse" data-target=".text"><span class="text glyphicon glyphicon-chevron-down"></span>  About</a>
                <a class="btn btn-primary" href="javascript:void(0)" data-toggle="collapse" data-target=".about"><span class="about glyphicon glyphicon-chevron-down"></span>  Sources</a>
                {% if object.read_more_link %}<a class="btn btn-primary" href="{{ object.read_more_link|safe }}" target="_blank"><span class="glyphicon glyphicon-link"></span> Read more</a>{% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div id="table-container">
        <div id="table_fu">
            <div id="controls" class="row">
                <!--
                {% if object.legend %}
                    <div id="legend">{{ object.legend|safe }}</div>
                {% endif %}
                <div id="download">
                    <div id="pubdate"></div>
                    {% if object.show_download_links %}
                        <strong>Download the data: </strong>
                        <a href="{{ object.get_csv_url }}">CSV</a> |
                        <a href="{{ object.get_xls_url }}">XLS</a> |
                        <a target="_blank" href="{{ object.get_json_url }}">JSON</a>
                    {% endif %}
                </div>
                -->
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" id="filter"{% if not object.show_search_field %}style="display:none !important;"{% endif %}>
                    <form class="form-inline" >
                        <input type="text" class="form-control" placeholder="Search by any term...">
                    </form>
                </div>
                <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8" id="pager" class="pager">
                    <form class="form-inline" {% ifequal table.total_pages 1 %}style="display:none !important;"{% endifequal %}>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <p class="text-center"><span class="glyphicon glyphicon-fast-backward first"></span>
                            <span class="glyphicon glyphicon-backward prev"></span>
                            <span class="pagedisplay"/>1/10</span>
                            <span class="glyphicon glyphicon-forward next"></span>
                            <span class="glyphicon glyphicon-fast-forward last"></span></p>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <select class="pagesize form-control">
                                {% for page_size in table.page_size_list %}
                                    <option {% if forloop.first %}selected="selected"{% endif %} value="{{ page_size }}">{{ page_size }} per page</option>
                                {% endfor %}
                            </select>
                        </div>
                    </form>
                </div>
            </div>
            <div class="clear"></div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <table id="data" class="kpcc-table tabular table">
                        <thead>
                            <tr>
                            {% for header in table.headers %}
                                <th style="cursor: pointer; {% if header.style %}{% if header.sortable %}cursor: pointer;{% else %}cursor:default; background:none;{% endif %} {{ header.style }}{% endif %}">{{ header }}</th>
                            {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for row in table.rows %}
                                <tr>
                                    {% for header in table.headers %}
                                        {% for column in row.data %}
                                            {% if forloop.counter == forloop.parentloop.counter %}
                                                <td style="{{ column.style }}"><mark>{{ header }}</mark>{{ column|safe }}</td>
                                            {% endif %}
                                        {% endfor %}
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot></tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

    <script type="text/javascript">

        var sortOrder = {{ table.sorted_by }};

        var perPage = {{ table.per_page }};

        var embed_url_root = '{{ object.project_directory }}';

        $(document).ready(function(){
            $.tablesorter.defaults.textExtraction = "complex";
            var extractResponsiveMark = function(node){
                if (node.childNodes[0].nextSibling === null){
                    return " ";
                } else {
                    var cellContent = node.childNodes[0].nextSibling.textContent;
                    return cellContent
                };
            };

            fn.createResponsiveTable();

            fn.toggleDisplayIcon();

            var fu = $('#table_fu');
            var table = window.table = $('#data', fu)
              .tablesorter({
                textExtraction: extractResponsiveMark,
                widgets: ['columnHighlight'],
                sortList: sortOrder{% if table.sorter_config %},
                headers: {% for key, value in table.sorter_config.items %}{
                            {{ key }}: {
                                sorter: {% if value %}'{{ value }}'{% else %}false{% endif %}
                            }{% if not forloop.last %},{% endif %}
                        }{% endfor %}{% endif %}
               })
              .tablesorterPager({ container: $("#pager", fu), size: perPage, positionFixed: false })
              .tablesorterMultiPageFilter({ filterSelector: $("#filter input", fu) });
            var urlSortColumn = getParameterByName("sortColumn");
            var urlSortOrder = getParameterByName("sortOrder");
            if (urlSortColumn && urlSortOrder) {
                urlSortColumn  = parseInt(urlSortColumn);
                urlSortOrder  = parseInt(urlSortOrder);
                newSort = [[urlSortColumn, urlSortOrder]];
                $("table").trigger("sorton", [newSort]);
            };

        });

        $(window).resize(function(){
            fn.createResponsiveTable();
        });

        var fn = {
            createResponsiveTable: function(){
                var windowWidth = $(window).width();
                if (windowWidth <= 595){
                    $(".kpcc-table").each(function(){
                        $("tbody tr").each(function(){
                            $(this).find("td").each(function(){
                                $(this).css("width", "100%");
                            });
                        });
                    });
                } else {
                    $(".kpcc-table").each(function(){
                        var numberOfCells = $("tbody tr:nth-child(2) td").length;
                        var widthResize = 100 / numberOfCells
                        $("tbody tr").each(function(){
                            $(this).find("td").each(function(){
                                $(this).css("width", widthResize + "%");
                            });
                        });
                    });
                }
            },

            renderEmbedBox: function(){
                var embed_url = embed_url_root + '/iframe.html';
                jAlert('<h4>Embed this on your site or blog</h4>' + '<span>Copy this code and paste to source of your page: <br /><br /> &lt;iframe src=\"'+ embed_url +'\" width=\"100%\" height=\"850px\" style=\"margin: 0 auto;\" frameborder=\"no\"&gt;&lt;/iframe>', 'Share or Embed');
            },

            toggleDisplayIcon: function(){

                {% if object.open_about_this_onload %}
                    $(".text").collapse("show");
                    $("span.text")
                        .removeClass("glyphicon-chevron-down")
                        .addClass("glyphicon-chevron-up")
                        .css("height", "auto");
                {% endif %}

                {% if object.allow_others_embed %}
                    $("li.projects-embed").addClass("hidden");
                {% endif %}

                $(".text").on("shown.bs.collapse", function(){
                    $("span.text")
                        .removeClass("glyphicon-chevron-down")
                        .addClass("glyphicon-chevron-up")
                        .css("height", "auto");
                });

                $(".text").on("hidden.bs.collapse", function(){
                    $("span.text")
                        .removeClass("glyphicon-chevron-up")
                        .addClass("glyphicon-chevron-down")
                        .css("height", "auto");
                });

                $(".about").on("shown.bs.collapse", function(){
                    $("span.about")
                        .removeClass("glyphicon-chevron-down")
                        .addClass("glyphicon-chevron-up")
                        .css("height", "auto");
                });

                $(".about").on("hidden.bs.collapse", function(){
                    $("span.about")
                        .removeClass("glyphicon-chevron-up")
                        .addClass("glyphicon-chevron-down")
                        .css("height", "auto");
                });
            }
        };
    </script>

{% endblock %}

{% block kpcc-footer %}{% endblock %}
